Package: com.swiftyper.wechatredenvelop
Name: WeChatRedEnvelop
Depends: mobilesubstrate
Version: 1.2.1
Architecture: iphoneos-arm
Description: 微信功能加强
Maintainer: lxjwolf
Author: lxjwolf
Section: Tweaks
